monitor/Zalando Monitor/__pycache__
telegramBot/__pycache__
monitor/Zalando Monitor/ZalandoTutaMonitor.log
monitor/Zalando Monitor/ZalandoMonitor.log
monitor/Zalando Monitor/__pycache__/discord.cpython-39.pyc
monitor/Zalando Monitor/__pycache__/discord.cpython-39.pyc
